In [14]:
import pandas as pd
import psycopg2

In [15]:
# Connect to PostgreSQL

conn = psycopg2.connect(
    host="localhost",
    database="bank_reviews",
    user="admin",
    password="admin123"
)

In [17]:
def run_query(sql): # Execute a SQL query and return the results as a DataFrame
    return pd.read_sql(sql, conn)

sql = "SELECT * FROM bank_schema.banks;"

run_query(sql)

C:\Users\mihret.mekbebe\AppData\Local\Temp\ipykernel_1404\1188030313.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql(sql, conn)

   bank_id                    bank_name app_name
0        1            Bank of Abyssinia     None
1        2  Commercial Bank of Ethiopia     None
2        3                  Dashen Bank     None

In [18]:
sql = "SELECT * FROM bank_schema.reviews;"

run_query(sql)

C:\Users\mihret.mekbebe\AppData\Local\Temp\ipykernel_1404\1188030313.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql(sql, conn)

,review_id,bank_id,review_text,rating,review_date,sentiment_label,sentiment_score,source
0,0,1,üôèüëç,5,2025-11-29,NEGATIVE,0.697057,Google Play
1,1,1,Very Good,5,2025-11-28,POSITIVE,0.999852,Google Play
2,2,1,goof,5,2025-11-28,NEGATIVE,0.997528,Google Play
3,3,1,good!,5,2025-11-28,POSITIVE,0.999827,Google Play
4,4,1,good jop,5,2025-11-27,POSITIVE,0.999841,Google Play
...,...,...,...,...,...,...,...,...
1195,1195,3,Good,5,2023-04-18,POSITIVE,0.999816,Google Play
1196,1196,3,best,5,2023-04-13,POSITIVE,0.999794,Google Play
1197,1197,3,Best Application,5,2023-04-08,POSITIVE,0.999810,Google Play
1198,1198,3,Ok,5,2023-04-01,POSITIVE,0.999785,Google Play
1199,1199,3,·àà ·äï·åç·ãµ ·àµ·à´ yamehon 6 war yamemalsew tenshe bedr ...,4,2023-03-29,NEGATIVE,0.983791,Google Play

In [20]:
# Average rating per bank

sql = """
SELECT r.bank_name, ROUND(AVG(v.rating), 2) AS avg_rating
FROM bank_schema.reviews v
JOIN bank_schema.banks r ON r.bank_id = v.bank_id
GROUP BY r.bank_name;
"""

run_query(sql)

C:\Users\mihret.mekbebe\AppData\Local\Temp\ipykernel_1404\1188030313.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql(sql, conn)

                     bank_name  avg_rating
0  Commercial Bank of Ethiopia        4.13
1                  Dashen Bank        4.01
2            Bank of Abyssinia        3.38

In [19]:
# Count reviews per banks ensuring all 400 reviews are inserted for each bank

sql = """
SELECT r.bank_name, COUNT(*) AS total_reviews
FROM bank_schema.reviews v
JOIN bank_schema.banks r ON r.bank_id = v.bank_id
GROUP BY r.bank_name;
"""

run_query(sql)

C:\Users\mihret.mekbebe\AppData\Local\Temp\ipykernel_1404\1188030313.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql(sql, conn)

                     bank_name  total_reviews
0  Commercial Bank of Ethiopia            400
1                  Dashen Bank            400
2            Bank of Abyssinia            400