In [8]:
import pandas as pd
import psycopg2

In [9]:
# Connect to PostgreSQL

conn = psycopg2.connect(
    host="localhost",
    database="bank_reviews",
    user="admin",
    password="admin123"
)

In [10]:
def run_query(sql): # Execute a SQL query and return the results as a DataFrame
    return pd.read_sql(sql, conn)

sql = "SELECT * FROM bank_schema.banks;"

run_query(sql)

C:\Users\mihret.mekbebe\AppData\Local\Temp\ipykernel_1404\1188030313.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql(sql, conn)

   bank_id                    bank_name app_name
0        1            Bank of Abyssinia     None
1        2  Commercial Bank of Ethiopia     None
2        3                  Dashen Bank     None

In [11]:
sql = "SELECT * FROM bank_schema.reviews;"

run_query(sql)

C:\Users\mihret.mekbebe\AppData\Local\Temp\ipykernel_1404\1188030313.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql(sql, conn)

,review_id,bank_id,review_text,rating,review_date,sentiment_label,sentiment_score,source
0,0,1,üôèüëç,5,2025-11-29,NEGATIVE,0.697057,Google Play
1,1,1,Very Good,5,2025-11-28,POSITIVE,0.999852,Google Play
2,84,1,Very Good,5,2025-11-28,POSITIVE,0.999852,Google Play
3,2,1,goof,5,2025-11-28,NEGATIVE,0.997528,Google Play
4,91,1,goof,5,2025-11-28,NEGATIVE,0.997528,Google Play
...,...,...,...,...,...,...,...,...
1195,1189,3,It's good and easy to user from any branch. I ...,5,2023-05-10,POSITIVE,0.999816,Google Play
1196,1191,3,·çà·å£·äï ·ä•·äì ·àù·à≠·å• ·â£·äï·ä≠ ·äê·ãç mobile banking ·ã∞·àû ·â†·â≥·àù ·ä£·à™·çç ·ä†·äì...,5,2023-05-05,NEGATIVE,0.949920,Google Play
1197,1194,3,This app is not expected from a bank that says...,3,2023-04-28,NEGATIVE,0.999660,Google Play
1198,1197,3,Best Application,5,2023-04-08,POSITIVE,0.999810,Google Play
1199,1199,3,·àà ·äï·åç·ãµ ·àµ·à´ yamehon 6 war yamemalsew tenshe bedr ...,4,2023-03-29,NEGATIVE,0.983791,Google Play